*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.android.jks
.keystore.properties
android.jks
keystore.properties
/Haveadrink/android.jks
/Haveadrink/keystore.properties